{% extends "base.html" %}

{% block content %}

<h3>Redigera aktivitet</h3>

<form method="POST" class="mt-4">

<input class="form-control mb-3"
       type="text"
       name="name"
       value="{{ activity.name }}">

<input class="form-control mb-3"
       type="text"
       name="category"
       value="{{ activity.category }}">

<input class="form-control mb-3"
       type="number"
       name="duration"
       value="{{ activity.duration }}">

<button class="btn btn-success">
Spara ändringar
</button>

</form>

<a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">
Tillbaka
</a>

{% endblock %}