<div class="container mt-5">
    <h1>Aktiviteter</h1>

    <a href="{{ url_for('add_activity') }}" class="btn btn-primary mb-3">
        Lägg till aktivitet
    </a>
    <a href="{{ url_for('stats') }}" class="btn btn-info mb-3">
        Se statistik
    </a>

    {% for activity in activities %}
        <div class="card mb-2 p-3">
            <strong>{{ activity.name }}</strong>
            <p>{{ activity.category }} – {{ activity.duration }} min</p>

            <a href="{{ url_for('edit_activity', id=activity.id) }}" class="btn btn-warning btn-sm">
                Redigera
            </a>

            <a href="{{ url_for('delete_activity', id=activity.id) }}" class="btn btn-danger btn-sm">
                Ta bort
            </a>
        </div>
    {% endfor %}
</div>
